extends layout

block content

    .container(ng-view)
        .small-content

block scripts
    script(src='lib/jquery/jquery-1.11.0.js')
    script(src='lib/flippy/jquery.flippy.js')
    script(src='js/bundle.js')